<% title "Email Confirmation" %>
<div class="panel-heading">
  <h3 class="panel-title">Resend confirmation instructions</h3>
</div>
<div class="panel-body">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', maxlength: 100, required: true, class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class:"btn btn-primary"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

