<%= nested_form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@movie.errors.count, 'error') %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Title', class: 'form-control', required: true, maxlength: 150 %>
  </div>

  <div class='form-group'>
    <%= f.label :genre %>
    <%= f.select :genre, options_for_select(Movie::GENRE, selected: @movie.genre), class: 'form-control', required: true %>
  </div>

  <div class='form-group'>
    <%= f.label :duration %> (Minutes)
    <%= f.number_field :duration, min: '0', required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :release_date %>
    <%= f.date_field :release_date, required: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :trailer %>
    <%= f.text_field :trailer, placeholder: 'Trailer Embed', class: 'form-control', required: true %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.cktext_area :description, required: true %>
  </div>

  <%= f.fields_for :posters do |poster| %>
    <% unless poster_present?(poster) %>
      <div><%= image_tag poster.object.image.url(:thumb) %></div>
    <% end %>
    <div><%= poster.file_field :image %></div>
    <%= poster.link_to_remove '', class: 'btn btn-xs btn-danger margin glyphicon glyphicon-remove' %>
  <% end %>

  <div>
    <%= f.link_to_add 'Add posters of movie', :posters, class: 'btn btn-success' %>
  </div>

  <div>
    <%= f.label :add_actors_to_movie, class: 'center' %>
  </div>

  <div>
    <%= f.select :actor_ids, options_from_collection_for_select(@all_actors, 'id', 'name', @selected_actors), {}, { multiple: true } %>
  </div>

  <div>
    <div class='actions'>
      <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
