<% title "Movies" %>
<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <div class='row'>
      <div class='col-md-2'>
        <div class='dropdown'>
          <div  class= 'dropdown-toggle btn btn-primary btn-sm' data-toggle= 'dropdown'>
            Sort On
          </div>
          <ul class='dropdown-menu'>
            <li><%= link_to 'Rating Ascending', movies_path(filter: 'rating_ascending') %></li>
            <li><%= link_to 'Rating Descending', movies_path(filter: 'rating_descending') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Release Date Ascending', movies_path(filter: 'release_date_ascending') %></li>
            <li><%= link_to 'Release Date Descending', movies_path(filter: 'release_date_descending') %></li>
          </ul>
        </div>
      </div>
      <div class='col-md-offset-8 col-md-2'>
        <div class='pull-right btn btn-sm btn-primary' id='advance_search_btn'>
          Advance Filters
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div id='advance_search_form'>
          <%= render 'layouts/advance_search' %>
        </div>
      </div>
    </div>

    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h1 align='center'>Listing Movies</h1>
      </div>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='row'>
              <%= render @movies %>
            </div>
            <%= paginate @movies %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
