<div class="container">
  <div class="col-md-12">
    <div class="row">

      <div class="left-section">
        <div class='options'>
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-default" %> |
            <%= link_to 'Destroy', @movie, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>

        <h1><%= @movie.title %></h1>

        <p><%= image_tag @movie.top_poster %></p>

        <div id="description">
          <strong>Description:</strong>
          <%= @movie.show_description %>
        </div>

        <p>
          <strong>Genre:</strong>
          <%= @movie.genre %>
        </p>

        <p>
          <strong>Duration:</strong>
          <%= @movie.duration_in_hour_minutes %>
        </p>

        <p>
          <strong>Release Date:</strong>
          <%= @movie.release_date %>
        </p>

        <div id="cast">
          <strong>Cast:</strong>
          <p>
            <%= @movie.actor_names %>
          </p>
        </div>
      </div>

      <div class="right-section">
        <%= @movie.show_trailer %>

        <div id="poster">
          <%= render partial: 'posters', collection: @posters, as: :poster %>
        </div>
      </div>
    </div>
  </div>
</div>
