<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration_in_hour_minutes %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @movie.show_trailer %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.show_desc %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @movie.approved %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @movie.featured %>
</p>

<p>
  <%= render partial: 'posters', collection: @posters, as: :poster %>
</p>

<p>
  <%= @movie.actor_names %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
