<li id="review-<%= review.id %>">
  <div class='row col-md-12'>
    <div class="col-md-1">
      <div class="commenterImage">
        <%= image_tag review.show_user_dp(:thumb) %>
        <strong><%= review.user.full_name %></strong>
      </div>
    </div>

    <div class="col-md-8">
      <div class="commentText">
        <p><%= review.comment %></p>
        <span class="date sub-text">
          <%= review.created_at.to_date %>
        </span>
      </div>
    </div>

    <div class="col-md-2">
      <% if user_signed_in? %>
        <% if review.owner?(current_user.id) %>
          <span><%= link_to 'Edit', edit_movie_review_path(@movie, review), class: 'btn btn-xs btn-default', remote: true %></span>|

          <span><%= link_to 'Destroy', [@movie, review], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger', remote: true %></span>

        <% else %>
          <% if review.reported_by?(current_user.id) %>
            <div class='btn btn-xs btn-danger'>Reported</div>
          <% else %>
            <span id="report-<%= review.id %>"><%= link_to 'Report', review_reported_reviews_path(review), class: 'btn btn-xs btn-primary', remote: true, method: :post %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
