<!DOCTYPE html>
<html>
<head>
  <title>MovieManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class='custom-wrapper'>

  <%= render 'layouts/header' %>

  <%= render partial: "layouts/flash_messages" %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
