<!DOCTYPE html>
<html>
<head>
  <title>MovieManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class='devise_pages'>

  <%= render 'layouts/header' %>

  <%= render partial: 'layouts/flash_messages' %>

  <div class='container-fluid height-100'>
    <div class='row vertical-offset-50'>
      <div class='col-md-4 col-md-offset-4'>
        <div class='panel panel-default'>

          <%= yield %>

        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</body>
</html>
